body {
    /* background:url("/static/img/background.jpeg"); */
    background: url("/static/img/background.jpg");
    background-size:cover,contain;
    background-repeat:no-repeat;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.container {
    margin:0px 50px 0px 25%;
    background: transparent;
    padding:20px;
    margin-bottom:100px;
    height: 100%;
}

.image-upload > input
{
    display: none;
}

@media screen and (max-width:991px){
    .container {
        margin:0px 50px;
    }
}

@media screen and (max-width:785px){
    .container{
        margin:0px 0px;
    }
}


