{% block title %}


{% endblock %}
{% block private %}
<title>General Settings</title>
{%endblock %}s


{% block content %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
<section class="text-gray-700 body-font relative">
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">General Settings</h1>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="First Name" type="text">
          </div>
          <div class="p-2 w-1/2">
            <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Last Email" type="text">
          </div>
          <div class="p-2 w-full">
            <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Email" type="email">
          </div>
          <div class="p-2 w-full">
            <input class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Contact Number" type="text">
          </div>
          <div class="p-2 w-full">
            <textarea class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none h-40 focus:border-indigo-500 text-base px-4 py-2 resize-none block" placeholder="About"></textarea>
          </div>
          <div class="p-2 w-full py-12">
            <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-800 rounded text-lg">Update</button>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}